[Desktop Entry]
Name=Krita
GenericName=Krita
Comment=A professional FREE and open source painting program.
Comment[zh_CN]=一个免费、开源的专业绘画软件。
Exec=/home/zix/Program/krita-3.1.1amd64/krita-3.1.1-x86_64.appimage
Icon=krita
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;
X-GNOME-Settings-Panel=lovewallpaper

Name[zh_CN]=Krita
Keywords[zh_CN]=Krita;Picture;Desktop;图片编辑;桌面;
